html{
	scroll-behavior: smooth;
}
body{
	margin:unset;
	background-color: #1d1d1d;
}
.menuList{
	font-family: -webkit-pictograph;
	position: relative;
	top: 5%;
	color: white;
	font-weight: bolder;
	width: 100%;
	text-align: center;
}
.menu{
	display: inline;
	margin-left: 2%;
}
.menu:hover{
	color: #b4326c;
	cursor: pointer;
	transform: scale(1.2);
	transition: all 500ms;
	-webkit-transition: color 1s;
}
#homeInfo{
	font-family: -webkit-pictograph;
	position: absolute;
	color: white;
	font-weight: bolder;
	width: 100%;
	height: 100%;
}
#backImage{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
	height: 100%;
	filter:blur(2px);

}
#name{
	width: 100%;
	text-align: center;
	font-size:80px;
	margin-bottom: 0px;
	position: relative;
	top: 31%;
	margin-top: 0px;
}
#linkedin{
	font-size: 55%;
  color: white;
}
#github{
	font-size: 55%;
	color: white;
}
#mail{
	font-size: 55%;
	color: white;
}
#resume{
	font-size: 55%;
	color: white;
}
#linkedin:hover{
	color: #b4326c;
	cursor: pointer;
	-webkit-transition: color 0.7s;
}
#github:hover{
	color:#b4326c;
	cursor: pointer;
	-webkit-transition: color 0.7s;
}
#mail:hover{
	color: #b4326c;
	cursor: pointer;
	-webkit-transition: color 0.7s;
}
#resume:hover{
	color: #b4326c;
	cursor: pointer;
	-webkit-transition: color 0.7s;
}
#icon{
	font-size: xxx-large;
	padding: 0px;
	text-align: center;
	line-height: 1px;
  margin-top: 0px;
	position: relative;
	top: 33%;
}
#aboutInfo{
	color: white;
	position: absolute;
	top: 100%;
	height: 70%;
	width: 100%;
	font-family: -webkit-pictograph;
}
.iconList{
	list-style: none;
	display: inline-block;
}
#downArrowIcon{
	font-size: 30px;
  color: white;
  position: absolute;
  top: 90%;
	left: 50%;
}
#downArrowIcon:hover{
	color: #b4326c;
	cursor: pointer;
	-webkit-transition: color 0.7s;
}
#aboutMeTitle{
	text-align: center;
	color: #b4326c;
}
#myInfo{
	text-align: center;
	width: 30%;
	position: relative;
	left: 36%;
}
.container {
	width: 35%;
	height: 1.5%;
	background-color: white;
}

.skills {
	text-align: right;
	padding-top: 0px;
	padding-bottom: 0px;
	color: black;
	font-size: 7px;
	font-weight: bolder;
}
.web {
	width: 90%;
	background-color: #b4326c;
	height: 9px;
}
.python {
	width: 80%;
	background-color: #b4326c;
	height: 9px;
}
.java {
	width: 80%;
	background-color: #b4326c;
	height: 9px;
}
.cp {
	width: 70%;
	background-color: #b4326c;
	height: 9px;
}
.skillTitle{
	margin-bottom: 1px;
  font-size: x-small;
}
#skillsList{
	position: absolute;
	width: 45%;
	left: 34%;
}
.cpp {
	width: 70%;
	background-color: #b4326c;
	height: 9px;
}
.sql {
	width: 75%;
	background-color: #b4326c;
	height: 9px;
}
.rp {
	width: 65%;
	background-color: #b4326c;
	height: 9px;
}
.power {
	width: 80%;
	background-color: #b4326c;
	height: 9px;
}
#skillsList1{
	position: absolute;
	width: 45%;
	left: 55%;
}
#expTitle{
	text-align: center;
	color: #b4326c;
}
#expInfo{
	position: absolute;
	top: 180%;
	height: 100%;
	width: 100%;
	font-family: -webkit-pictograph;
	background-color: white;
}
#circle{
	height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}
.timeline-ico{
	height: 2.5rem;
	width: 2.5rem;
	line-height: 4.8rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
  top: 3%;
  left: 33.5%;
}
#briefIco{
}
#workTitle{
	margin:0px;
}
#workDuration{
	margin:0px;
	color: grey;
}
#leftInfo{
	width: 30%;
	border-right-style: inset;
	height: 125px;
	text-align: right;
	padding-right: 2.5%;
}
#posTitle{
	margin:0px;
}
#duties{
	margin:0px;
}
#rightInfo{
	width: 30%;
  height: 125px;
  position: absolute;
  left: 35%;
	top: 0%;
}
#exp1{
	position: absolute;
	width: 75%;
	left: 25%;
}
#exp2{
	position: absolute;
	width: 75%;
	left: 25%;
	top: 40%;
}
#projectsInfo{
	position: absolute;
	top: 65%;
	height: 25%;
	width: 100%;
	font-family: -webkit-pictograph;
}
#projectsTitle{
	text-align: center;
	color: #b4326c;
}
#gitProjects{
	text-align: center;
	color: black;
}
#githubProjects{
	font-size: 130%;
	color:#b4326c;
}

#contactInfo{
	position: absolute;
	top: 270%;
	height: 45%;
	width: 100%;
	font-family: -webkit-pictograph;
	background-color: #1d1d1d;
}
#contactsTitle{
	text-align: center;
	color: #b4326c;
	margin-top: 2%;
}
#contactMe{
	text-align: center;
	color: white;
}
#mailContact{
	font-size: 130%;
	color:#b4326c;
}
#linkedinContact{
	color:#b4326c;
	font-size: 130%;
}
#moreInfo{
	text-align: center;
	color: white;
}
#resumeContact{
	color:#b4326c;
	font-size: 130%;
}
