#name{
	font-family: -webkit-pictograph;
	text-align: center;
	position: relative;
	top: 10px;
	height: 50px;
}

#headerBox{
	background-color: white;
}
.menuButton{
	width: 2%;
	height: 3px;
	background-color: black;
	margin: 6px 0;
	position: relative;
  left: 97%;
  top: 6px;
}
